li {
  list-style: none;
}
body {
  background-color: #242424;
}
.logo {
  width: 60%;
  height: auto;
}

.agarrador {
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  gap: 10px;
  padding: 40px;
  height: 5px;
}

.gris {
  background-color: rgb(56, 55, 55);
  display: flex;
  justify-content: flex-start;
  border-radius: 20px;
  height: 80%;
}

.personajes {
  padding-left: 6px;
}

p {
  color: rgb(96, 96, 96);
}
.logo {
  width: 40px;
  height: 40px;
}

.blanco {
  background-color: aliceblue;
}

.first h3 {
  margin-top: -10px;
  font-size: 18px;
  font-family: sans-serif;
}

.last h3 {
  margin-top: -10px;
  font-size: 18px;
  font-family: sans-serif;
}
.personajes h2:hover {
  color: orange;
}

.last h3:hover {
  color: orange;
}

.first h3:hover {
  color: orange;
}

img {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.sp {
  border-color: orange;
}

.lbt {
  display: flex;
  justify-content: end;
}
.titulo {
  display: flex;
  justify-content: center;
  background-color: white;
  font-size: 40px;
}
.barra {
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.botones {
  display: flex;
  justify-content: end;
}

button {
  margin-right: 4px;
}
.tt {
  border: none;
  background: none;
  font-size: 20px;
}
.tt:hover {
  color: orange;
}
.bot {
  background: none;
  border-color: orange;
  border-radius: 10px;
  font-size: 20px;
}

.bot:hover {
  background-color: orange;
  border-radius: 10px;
}
